:root {
    --primary-color: #fb5533;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --boder-color: #dbdbdb;

    --header-height: 120px;
    --navbar-height: 34px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    cursor: default;
}

html {
    /* HACK */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* Modal */

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: ModalFadeIn ease-in 0.1s;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal__body {
    position: relative;
    margin: auto;
}

@keyframes ModalFadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    } to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Btn Style */

.btn {
    background-color: var(--white-color);
    min-width: 124px;
    height: 34px;
    border: none;
    border-radius: 2px;
    font-size: 1.4rem;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn.btn--normal:hover {
    cursor: pointer;
    background-color: var(--boder-color);
}
.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn--size--s {
    font-size: 1.2rem;
    height: 32px;
    padding: 0 8px;
}
